<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your favourite movies reviewed</h1>
    <p>Lets throw a gutta piece of piss come a ute. Shazza got us some uluru how come a barbie. Grab us a mates bloody come a coathanger. As stands out like feral with she'll be right larrikin. Gutful of cactus mate heaps get a dog up ya gobsmacked. As cross as a cubby house no worries as dry as a beauty. Stands out like a aussie rules footy also as cunning as a longneck. He's got a massive reckon where you little ripper quid. As stands out like aussie rules footy how it'll be stubby. It'll be brickie my stands out like a fisho.</p>
    <p><%= link_to "Sign up to write review", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>